body{
	font-family: 'Oswald';
	font-style: normal;
	background: #E5E5E5;

	width: 100%;
	margin: 0
}

/* Универсальные классы */

.background-white{
	background: #FFFFFF;
}

.background-brown{
	background: #817070;
}

.block{
	padding: 60px 80px;	
}

.capitalize{
	text-transform: capitalize;
}

.color-white{
	color: #FFFFFF;
}

.container{
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 0 80px
}

.conatainer-column{
	flex-direction: column;
	justify-content: center;
}

.text-center{
	text-align: center;
}

.title{
	margin: 0;
	padding: 0 0 60px 0;
}

.title-non-padding{
	margin: 0;
	padding: 0;
}

.uppercase{
	text-transform: uppercase;
}

/* Классы отдельных элементов */

.card{
	width: 100%;
	margin: 0 20px;
	padding: 20px;
}

.card:hover{
	box-shadow: 1px 1px rgb(63, 63, 63);
  	transform: translateX(-1px);
	transition: 0.15s linear;
}

.card_title{
	margin: 0 0 20px 0;
}

.card_img{
	max-width: 325px;
	width: 100%;
}

.menu_item{
	margin: 0 0 0 20px;
}

.menu_link{
	text-decoration: none;
	color: #000000;
	border: 3px solid #FFFFFF;
	padding: 4px 20px;
}

.menu_link:hover{
	border: 3px solid #000000;
	border-radius: 3px;
	transition: 0.15s linear;
}

/* id */

#copyright_title{
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

#copyright_block{
	padding: 30px 0 15px 0;	
}

#header_conatiner{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	background-image: url(image/header.jpg);
	width:100%;
	padding: 30% 0;
}

#header_title{
	margin: auto;
	font-weight: 700;
	font-size: 60px;
	line-height: 89px;
}

#header_line{
	width: 80px;
	height: 10px;	
	background: #817070;
}

#menu_navbar{
	display: flex;
    list-style: none;
}

#story_img{
	width: 40%;
	height: auto;
}

#story_text{
	margin: 0 40px;
}

#subscribe{
	background: #817070;
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	padding: 16px 90px;
	margin: 30px;
}

#subscribe::placeholder{
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: center;
}

#submit{
	color: #817070;
	background: #FFFFFF;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	width: 129px;
	height: 55px;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
}

#submit:hover{
	background: #817070;
	color:#FFFFFF;
	transition: 0.15s linear;
}
